@import '../../style/color.scss';

header {
    background-color: $cream;
    position: relative;

    .logo {
        width: 250px;
        height: 50px;
        background-color: white;
        display: inline-block;
        margin: 10px 0 10px 20px;
    }

    nav {
        transform: translateY(-50%);
        font-size: 14px;
        position: absolute;
        top: 50%;
        right: 30px;
    }
}