@import '../../style/color.scss';

header {
    background-color: $cream;
    position: relative;

    .logo-tagline {
        display: inline-block;
        margin: 10px 0 10px 20px;
        overflow: auto;

        img {
            float: left;
            margin-right: 20px;
        }

        >div {
            font: normal 16px sans-serif;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 150px;
        }
    }

    nav {
        transform: translateY(-50%);
        font-size: 14px;
        position: absolute;
        top: 50%;
        right: 30px;
    }
}