@import "./style/color.scss";

.content {
  margin-top: 74px;
  height: 100%;
}

.redirect-message {
  font: normal 14px sans-serif;
  transition: all 0.25s;
  position: fixed;
  text-align: center;
  padding: 6px 0 7px 0;
  color: $white;
  width: 300px;
  opacity: 0;
  z-index: 2;
  top: 123.5px;
  right: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid $midnight;
  border-left: 1px solid $midnight;
  border-right: 1px solid $midnight;
  left: 0;
  margin: 0 auto;
}

.show-redirect-message {
  animation: redirectMessage 5s linear forwards;
}

.mobile-menu {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: right 0.25s;
  top: 0;
  right: 110%;
  nav {
    margin: 50px 0 0 15px;
    width: calc(100% - 30px);
    color: $white;
    span {
      display: block;
      border-bottom: 1px solid $white;
      padding: 15px 0;
      cursor: pointer;
    }
    span:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.show-menu {
  right: 0 !important;
}

@keyframes redirectMessage {
  0%,
  100% {
    opacity: 0;
  }

  5%,
  95% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0;
  }
  .redirect-message {
    top: 57px;
  }
}
