@import "./style/color.scss";

.content {
  margin-top: 123px;
  height: 100%;
}

.redirect-message {
  font: normal 14px sans-serif;
  border: 2px solid $white;
  transition: all 0.25s;
  position: fixed;
  text-align: center;
  padding: 20px 0;
  color: $white;
  width: 300px;
  opacity: 0;
  z-index: 2;
  top: 29px;
  right: 10px;
  border-radius: 6px;
}

.show-redirect-message {
  animation: redirectMessage 5s linear forwards;
}

@keyframes redirectMessage {
  0%,
  100% {
    opacity: 0;
  }

  5%,
  95% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 80px;
  }
}
