<div
  *ngIf="notifications.invalidURL"
  [style.background-color]="userNotification ? '#70ba6d' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message element-shadow': notifications.invalidURL
  }"
  class="redirect-message"
>
  Invalid URL. Redirected.
</div>

<div
  *ngIf="notifications.formSuccess"
  [style.background-color]="userNotification ? '#70ba6d' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message': notifications.formSuccess
  }"
  class="redirect-message"
>
  {{
    userNotification
      ? "Form submitted successfully."
      : "Sorry. Form submission was unsuccessful."
  }}
</div>

<div
  [style.background-color]="userNotification ? '#70ba6d' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message': notifications.adminAccessResponse
  }"
  class="redirect-message"
>
  {{ userNotification ? "Access Granted" : "Denied" }}
</div>

<!-- <div
  *ngIf="notifications.registration"
  [style.background-color]="userNotification ? '#70ba6d' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message element-shadow': notifications.registration
  }"
  class="redirect-message"
>
  {{ userNotification ? "Registration successful." : "User already exists" }}
</div> -->

<app-header></app-header>
<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-loader></app-loader>
</main>
<div [ngClass]="{ 'show-menu': showMenu }" class="mobile-menu">
  <nav>
    <span
      (click)="closeMobileMenu()"
      *ngIf="!userIsAuthenticated"
      routerLink="/signup"
      >Signup</span
    >
    <span
      (click)="closeMobileMenu()"
      *ngIf="!userIsAuthenticated"
      routerLink="/login"
      >Login</span
    >
    <span
      (click)="closeMobileMenu()"
      *ngIf="userIsAuthenticated && hasRole"
      routerLink="/admin"
      >Admin</span
    >
    <span
      (click)="closeMobileMenu()"
      *ngIf="userIsAuthenticated && !hasRole"
      routerLink="/profile"
      >Profile</span
    >
    <span
      (click)="closeMobileMenu()"
      *ngIf="userIsAuthenticated"
      (click)="onLogout()"
      >Logout</span
    >
  </nav>
</div>
<app-footer></app-footer>
