<div
  *ngIf="notifications.invalidURL"
  [style.background-color]="userNotification ? 'rgb(51,201,72)' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message element-shadow': notifications.invalidURL
  }"
  class="redirect-message"
>
  Invalid URL. Redirected.
</div>

<div
  *ngIf="notifications.formSuccess"
  [style.background-color]="userNotification ? 'rgb(51,201,72)' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message element-shadow': notifications.formSuccess
  }"
  class="redirect-message"
>
  {{
    userNotification
      ? "Form submitted successfully."
      : "Sorry. Form submission was unsuccessful."
  }}
</div>

<!-- <div
  *ngIf="notifications.registration"
  [style.background-color]="userNotification ? 'rgb(51,201,72)' : '#b33a3a'"
  [ngClass]="{
    'show-redirect-message element-shadow': notifications.registration
  }"
  class="redirect-message"
>
  {{ userNotification ? "Registration successful." : "User already exists" }}
</div> -->

<app-header></app-header>
<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-loader></app-loader>
</main>
<app-footer></app-footer>
