<div id="forgot-password">
  <div class="wrapper">
    <div *ngIf="tokenExpired" class="validation-error">
      Reset link expired. Please try again.
    </div>
    <form [formGroup]="reactiveForm" #form="ngForm" *ngIf="!emailSent">
      <div>
        <label for="email">Email Address</label>
        <input
          tabindex="1"
          type="email"
          id="email"
          name="email"
          formControlName="email"
          placeholder="your-name@provider.com"
          required
          minlength="1"
          maxlength="250"
          (focus)="onFocusEvent($event)"
          class="form-control form-control-sm"
          [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
        />
        <div *ngIf="userDoesNotExist" class="validation-error">
          User does not exist.
        </div>
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="invalid-feedback"
        >
          <div *ngIf="email.errors?.['required']" class="validation-error">
            This field is required.
          </div>
          <div *ngIf="email.errors?.['minlength']" class="validation-error">
            This field must have at least 1 character.
          </div>
          <div *ngIf="email.errors?.['maxlength']" class="validation-error">
            This field must have at most 250 characters.
          </div>
          <div
            *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']"
            class="validation-error"
          >
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="otp-code">{{ otp }}</div>
      <div class="otp-verify">
        <label for="forgot-code">Please enter the text above</label>
        <input #otpEntry type="text" name="forgot-code" tabindex="2" />
      </div>
      <button type="submit" tabindex="3" (click)="validate()">
        Reset Password
      </button>
    </form>
    <div *ngIf="emailSent" class="message">
      {{ message }}
    </div>
  </div>
</div>
