<div id="forgot-password">
  <form [formGroup]="reactiveForm" #form="ngForm" *ngIf="!emailSent">
    <div>
      <label for="email">Email Address</label>
      <input
        tabindex="1"
        type="email"
        id="email"
        name="email"
        formControlName="email"
        placeholder="your-name@provider.com"
        required
        minlength="1"
        maxlength="250"
        class="form-control form-control-sm"
        [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="email.errors?.['required']" class="validation-error">
          This field is required.
        </div>
        <div *ngIf="email.errors?.['minlength']" class="validation-error">
          This field must have at least 1 character.
        </div>
        <div *ngIf="email.errors?.['maxlength']" class="validation-error">
          This field must have at most 250 characters.
        </div>
        <div
          *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']"
          class="validation-error"
        >
          Invalid email format.
        </div>
      </div>
    </div>
    <button type="submit" tabindex="3" (click)="validate()">Login</button>
  </form>
  <div *ngIf="emailSent" class="message">
    {{ message }}
  </div>
</div>
