@import "../../style/color";

#forgot-password {
  height: 100%;
  display: flex;
  .wrapper {
    margin: auto;
    min-width: 275px;
    form {
      [type="submit"] {
        margin-top: 20px;
      }
    }

    .message {
      margin: auto;
      font: normal 14px sans-serif;
      background-color: $white;
      padding: 10px;
      border: 1px solid $midnight;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  #forgot-password {
    .wrapper {
      .message {
        margin: 0 30px;
        line-height: 20px;
      }
    }
  }
}
