<div id="home-page">

    <h2>Summary Statement....</h2>
    <div class="cartoon">
        <div class="arrow-left"></div>
        <div class="main-image">
            <img src="" />
        </div>
        <div class="arrow-right"></div>
    </div>


    <div class="user-input">
        <div class="add-your-caption">
            <input placeholder="Add your caption..." type="text" />
            <button type="submit">Submit</button>
        </div>

        <div class="caption-details">
            <div class="user">
                <span>Submitted Caption</span>
                <span>Full Name</span>
                <span>City,&nbsp;</span>
                <span>State</span>
            </div>
            <div class="votes">
                <span id="vote-down"></span>
                <span class="total-votes"></span>
                <span id="vote-up"></span>
            </div>
        </div>

        <form>
            <input placeholder="Caption" class=" caption" />
            <div class="email-first-last">
                <input placeholder="Email address" />
                <input placeholder="First name" />
                <input placeholder="Last name" />
            </div>
            <div class="city-state-submit">
                <input placeholder="City" />
                <input placeholder="State/ Province" />
                <div class="submit-caption">
                    <button type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>


</div>