#home-page {
    margin-bottom: 30px;

    h2 {
        font: normal 20px sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    .cartoon {
        margin: 30px auto;
        display: grid;
        grid-template-columns: 40px auto 40px;
        max-width: 710px;
        grid-column-gap: 15px;

        .arrow-left,
        .arrow-right {
            width: 40px;
            display: flex;
            cursor: pointer;

            div {
                margin: auto;
                width: 30px;
                overflow-x: hidden;

                span {
                    font-size: 40px;
                    display: block;
                    transition: transform .25s;
                }
            }
        }

        .arrow-right {
            div {
                span {
                    transform: translateX(-9px);
                }
            }
        }

        .arrow-left:hover {
            div {
                span {
                    transform: scale(.8);
                }
            }
        }

        .arrow-right:hover {
            div {
                span {
                    transform: translateX(-9px) scale(.8);
                }
            }
        }

        .main-image {
            max-width: 710px;
            width: 100%;
            background-color: turquoise;
            border: 1px solid black;
            border-radius: 6px;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    .user-input {
        max-width: 790px;
        margin: 0 auto;

        .caption-details {
            display: grid;
            grid-template-columns: auto 200px;
        }

        .caption-details {
            margin: 30px 0;

            .user {
                span {
                    font-size: 14px;
                }

                span:first-child {
                    display: block;
                    font-weight: 600;
                }

                span:not(:first-child) {
                    margin-right: 5px;
                }

                span:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            .votes {
                display: grid;
                grid-template-columns: 50px 100px 50px;
            }
        }

        form {
            input {
                padding: 5px;
                font-size: 14px;
                border: 1px solid black;
                border-radius: 3px;
            }

            .caption {
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
            }

            .email-first-last {
                display: grid;
                grid-template-columns: calc(60% - 20px) 20% 20%;
                grid-column-gap: 10px;
                margin-bottom: 10px;
            }

            .city-state-submit {
                display: grid;
                grid-column-gap: 10px;
                grid-template-columns: repeat(2, calc(30% - 15px)) auto;

                .submit-caption {
                    text-align: right;

                    button {
                        outline: none;
                        padding: 8px 15px;
                        font-weight: 600;
                        border-radius: 3px;
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #home-page {
        .cartoon {
            margin: 20px;
        }

        .user-input {
            margin: 0 30px;

            .caption-details {
                margin: 20px 0;
            }
        }
    }
}