<div id="home-page">

    <h2>Summary Statement....</h2>
    <div class="content">
        <div class="arrow-left"></div>
        <div class="main-image">
            <img src="" />
        </div>
        <div class="arrow-right"></div>
    </div>

    <div class="add-your-caption">
        <input placeholder="Add your caption..." type="text" />
        <button type="submit">Submit</button>
    </div>

    <div class="caption-details">
        <div class="user">
            <span>Submitted Caption</span>
            <span>Full Name</span>
            <span>City</span>
            <span>State</span>
        </div>
        <div class="votes">
            <span id="vote-down"></span>
            <span class="total-votes"></span>
            <span id="vote-up"></span>
        </div>
    </div>

    <form>
        <input placeholder="caption" />
        <div class="email-first-last">
            <input placeholder="email-address" />
            <input placeholder="name-first" />
            <input placeholder="name-last" />
        </div>
        <div class="city-state-submit">
            <input placeholder="city" />
            <input placeholder="state/ province" />
        </div>
        <button type="submit">Submit</button>
    </form>

</div>