@import '../../style/color.scss';

header {
    background-color: white;
    border-bottom: 1px solid $midnight;
    position: relative;
    padding: 10px;

    .logo-tagline {
        display: inline-block;

        img {
            float: left;
            margin-right: 20px;
        }

        >div {
            font: normal 26px sans-serif;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 150px;
            color: $midnight;
        }
    }

    nav {
        transform: translateY(-50%);
        font-size: 14px;
        position: absolute;
        top: 50%;
        right: 30px;
    }
}