<header>
  <div class="logo-tagline" routerLink="/">
    <img *ngIf="windowWidth! > 768" src="../../../assets/logo.png" />
    <div>Clever Cartoon Caption Contest</div>
  </div>
  <nav [ngClass]="userIsAuthenticated ? 'default-layout' : 'admin-layout'">
    <span *ngIf="!userIsAuthenticated" routerLink="/login">Login</span>
    <span *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</span>
    <span *ngIf="!userIsAuthenticated" routerLink="/signup">Signup</span>
    <span *ngIf="userIsAuthenticated" routerLink="/admin">Admin</span>
  </nav>
</header>
