@import "../../style/color.scss";

header {
  border-bottom: 1px solid $midnight;
  position: fixed;
  padding: 10px 0 5px 0;
  width: 100%;
  z-index: 1;
  top: 0;

  background: rgb(172, 211, 218);
  background: -moz-linear-gradient(
    90deg,
    rgba(172, 211, 218, 1) 0%,
    rgba(255, 255, 255, 1) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(172, 211, 218, 1) 0%,
    rgba(255, 255, 255, 1) 81%
  );
  background: linear-gradient(
    90deg,
    rgba(172, 211, 218, 1) 0%,
    rgba(255, 255, 255, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#acd3da",endColorstr="#ffffff",GradientType=1);

  .logo {
    width: 225px;
    cursor: pointer;
    margin-left: 15px;
    img {
      width: 100%;
    }
  }

  .mobile-menu-controls {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(calc(-50% + 2px));
    right: 15px;
    width: 25px;
    img {
      width: 100%;
    }
  }

  nav {
    transform: translateY(-50%);
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    display: grid;
    grid-column-gap: 10px;
    span {
      display: block;
      cursor: pointer;
    }
  }
  .default-layout {
    grid-template-columns: repeat(3, auto);
  }
  .admin-layout {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 768px) {
  header {
    .logo {
      max-width: 300px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    .logo-tagline {
      > div {
        font-size: 1em;
      }
    }
  }
}
