@import "../style/color.scss";

/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

main {
  height: calc(100vh - 170px);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  background-color: $fog;
}

.element-shadow {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.4);
}

label {
  font: normal 14px sans-serif;
  display: block;
  margin-bottom: 3px;
}
input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid $midnight;
  border-radius: 3px;
  width: calc(100% - 12px);
  outline: none;
}

.double-page-content {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  .editing-nav-bar {
    background-color: $white;
    box-shadow: 2px 1px 5px 3px rgb(0 0 0 / 25%);
    padding: 5px;
    width: calc(100% - 10px);
    top: 123px;
    left: 0;
    position: fixed;
    .nav-wrapper {
      max-width: 800px;
      margin: 0 auto;
      nav {
        width: 100%;
        font: normal 14px sans-serif;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
        max-width: 250px;
        span {
          padding: 5px;
          border-radius: 3px;
          background-color: $white;
          color: $midnight;
          cursor: pointer;
          border: 1px solid $midnight;
          text-align: center;
          white-space: nowrap;
          font: normal 13px sans-serif;
        }
      }
    }
  }
  .active-page {
    background-color: $midnight !important;
    color: $white !important;
  }
}

[type="submit"],
[type="reset"],
.forgot-password,
.register,
.refresh-page {
  outline: none;
  width: 100%;
  left: 0;
  padding: 5px 15px;
  font: 600 13px sans-serif;
  border-radius: 3px;
  border: 1px solid $midnight;
  cursor: pointer;
  transition: all 0.25s;
  &:focus,
  &:hover {
    background-color: $midnight;
    color: $fog;
  }
}

.password-wrapper {
  position: relative;
  .show-password {
    width: 20px;
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 24px;
    img {
      width: 100%;
    }
  }
}

.toggle-visibility {
  opacity: 0.5;
}

.caps-warning {
  color: $white;
  background-color: $warningRed;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 2px;
}

.validation-error,
.notification {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font: normal 14px sans-serif;
  text-align: center;
  max-width: 330px;
  margin: 5px 0;
  color: $white;
  padding: 4px;
}

.notification {
  background-color: $editGreen;
}

.validation-error {
  background-color: $warningRed;
}

@media screen and (max-width: 992px) {
  .double-page-content {
    margin: 0 20px;
    padding-top: 15px;
    .editing-nav-bar {
      .nav-wrapper {
        margin: 0 13px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .double-page-content {
    .editing-nav-bar {
      top: 56px;
    }
  }
}
