<div id="home-page">
  <div class="cartoon">
    <div *ngIf="windowWidth! > 768" class="arrow-left">
      <div>
        <span>&#11013;</span>
      </div>
    </div>
    <div class="main-image element-shadow">
      <img [src]="currentImage" alt="temp image alt text" />
    </div>
    <div *ngIf="windowWidth! > 768" class="arrow-right">
      <div>
        <span>&#11157;</span>
      </div>
    </div>
    <div *ngIf="windowWidth! < 769" class="arrow-buttons">
      <button type="button">Previous</button>
      <button type="button">Next</button>
    </div>
  </div>

  <div class="user-input">
    <div class="caption-details">
      <div class="votes">
        <span id="vote-down"></span>
        <span class="total-votes"></span>
        <span id="vote-up"></span>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <div ngModelGroup="requiredFields" #requiredFields="ngModelGroup">
        <div>
          <label for="caption">Caption</label>
          <input
            type="text"
            id="caption"
            tabindex="1"
            name="caption"
            placeholder="Caption"
            class="caption"
            ngModel
            required
            #caption="ngModel"
          />
        </div>
        <div class="email-first-last">
          <!-- Email Address -->
          <div>
            <label for="email">Email Address</label>
            <input
              type="text"
              id="email"
              tabindex="2"
              name="email"
              #email="ngModel"
              placeholder="Email address"
              ngModel
              required
            />
          </div>

          <!-- First Name -->
          <div>
            <label for="fName">First Name</label>
            <input
              type="text"
              id="fName"
              tabindex="3"
              name="fName"
              #fName="ngModel"
              placeholder="First name"
              ngModel
              required
            />
          </div>

          <!-- Last Name -->
          <div>
            <label for="lName">Last Name</label>
            <input
              type="text"
              id="lName"
              tabindex="4"
              name="lName"
              #lName="ngModel"
              placeholder="Last name"
              ngModel
            />
          </div>
        </div>

        <div class="city-state-submit">
          <!-- City -->
          <div>
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              tabindex="5"
              name="city"
              #city="ngModel"
              placeholder="City"
              ngModel
            />
          </div>

          <!-- State -->
          <div>
            <label for="state">State/ Province</label>
            <input
              type="text"
              id="state"
              tabindex="6"
              name="state"
              placeholder="State/ Province"
              ngModel
            />
          </div>

          <!-- Submit -->
          <div
            class="submit-caption"
            (mouseover)="hover = true"
            (mouseleave)="hover = false"
          >
            <button
              type="submit"
              tabindex="7"
              [ngClass]="{ 'form-active-btn-hover': myForm.valid && hover }"
              [disabled]="!myForm.valid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="required-fields-error">
        <small *ngIf="requiredFields.invalid && requiredFields.touched"
          >Please complete required fields.</small
        >
      </div>
    </form>
  </div>

  <div class="published-content">
    <div *ngFor="let data of userDataArray" class="repeating-block">
      <!-- Captions ... -->
      <div class="submission">
        <p>{{ data.caption }}</p>
        <div class="full-name">
          <span>{{ data.firstName }}</span>
          <span>{{ data.lastName }}</span>
        </div>
        <div class="location">
          <span>{{ data.city }}</span>
          <span>{{ data.state }}</span>
          <span>{{ data.country }}</span>
        </div>
      </div>

      <!-- Voting -->
      <div class="votes">
        <div (click)="voteUp(data)" class="vote-up">
          <span>&#43;</span>
        </div>
        <div class="vote-total">
          <span class="vote-total">{{ data.votes }}</span>
        </div>
        <div (click)="voteDown(data)" class="vote-down">
          <span class="vote-total">&#45;</span>
        </div>
      </div>
    </div>
  </div>
</div>
