<div id="home-page">
  <div class="cartoon">
    <div *ngIf="windowWidth! > 768" class="arrow-left">
      <div>
        <span>&#11013;</span>
      </div>
    </div>
    <div class="main-image element-shadow">
      <img [src]="currentImage" [alt]="altText" />
    </div>
    <div *ngIf="windowWidth! > 768" class="arrow-right">
      <div>
        <span>&#11157;</span>
      </div>
    </div>
    <div *ngIf="windowWidth! < 769" class="arrow-buttons">
      <button type="button">Previous</button>
      <button type="button">Next</button>
    </div>
  </div>

  <div class="user-input">
    <div class="caption-details">
      <div class="votes">
        <span id="vote-down"></span>
        <span class="total-votes"></span>
        <span id="vote-up"></span>
      </div>
    </div>

    <form [formGroup]="reactiveForm" #form="ngForm">
      <div>
        <label for="caption">Caption</label>
        <input
          type="text"
          id="caption"
          name="caption"
          formControlName="caption"
          placeholder="Please submit your caption"
          required
          minlength="1"
          maxlength="250"
          class="form-control form-control-sm"
          [class.is-invalid]="
            caption.invalid && (caption.dirty || caption.touched)
          "
        />
        <div
          *ngIf="caption.invalid && (caption.dirty || caption.touched)"
          class="invalid-feedback"
        >
          <div *ngIf="caption.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="caption.errors?.['minlength']">
            This field must have at least 1 character.
          </div>
          <div *ngIf="caption.errors?.['maxlength']">
            This field must have at most 250 characters.
          </div>
        </div>
      </div>
      <div class="email-first-last">
        <div>
          <label for="email">Email Address</label>
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="your-name@provider.com"
            required
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="email.invalid && (email.dirty || email.touched)"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="email.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="email.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="email.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
            <div
              *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']"
            >
              Invalid email format.
            </div>
          </div>
        </div>

        <div>
          <label for="name">First Name</label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            formControlName="firstname"
            placeholder="First name"
            required
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="
              firstname.invalid && (firstname.dirty || firstname.touched)
            "
          />
          <div
            *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="firstname.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="firstname.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="firstname.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>

        <div>
          <label for="name">Last Name</label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            formControlName="lastname"
            placeholder="Last name"
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="
              lastname.invalid && (lastname.dirty || lastname.touched)
            "
          />
          <div
            *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="lastname.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="lastname.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="lastname.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>
      </div>

      <div class="city-state-submit">
        <div>
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            name="city"
            formControlName="city"
            placeholder="City"
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="city.invalid && (city.dirty || city.touched)"
          />
          <div
            *ngIf="city.invalid && (city.dirty || city.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="city.errors?.['required']">This field is required.</div>
            <div *ngIf="city.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="city.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>

        <div>
          <label for="state">State/ Province</label>
          <input
            type="text"
            id="state"
            name="state"
            formControlName="state"
            placeholder="State/ Province"
            minlength="1"
            maxlength="250"
            class="form-control form-control-sm"
            [class.is-invalid]="state.invalid && (state.dirty || state.touched)"
          />
          <div
            *ngIf="state.invalid && (state.dirty || state.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="state.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="state.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="state.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>

        <div
          class="submit-caption"
          (mouseover)="hover = true"
          (mouseleave)="hover = false"
        >
          <button type="submit" tabindex="7" (click)="validate()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="total-comments">
    {{ totalCaptions + " captions" }}
  </div>

  <div class="published-content">
    <div
      *ngFor="let data of captionsArray; let i = index"
      class="repeating-block element-shadow"
    >
      <div class="submission">
        <p>{{ data.caption }}</p>
        <div class="full-name">
          <span>{{ data.firstName }}</span>
          <span *ngIf="data.lastName != ''">{{ data.lastName }}</span>
        </div>
        <div
          [ngClass]="{
            marginZero:
              data.city === '' && data.state === '' && data.country === ''
          }"
          class="location"
        >
          <span *ngIf="data.city != ''">{{ data.city }}</span>
          <span *ngIf="data.state != ''">{{ data.state }}</span>
          <span *ngIf="data.country != ''">{{ data.country }}</span>
        </div>
      </div>
      <div class="votes">
        <!-- <div (click)="voteUp(data.votes!)" class="vote-up">
          <span>&#43;</span>
        </div>
        <div class="vote-total">
          <span class="vote-total">{{ data.votes }}</span>
        </div>
        <div (click)="voteDown(data.votes!)" class="vote-down">
          <span class="vote-total">&#45;</span>
        </div> -->
      </div>
    </div>
    <!-- <div class="load-more-captions">
      <button type="button" (click)="loadMoreCaptions()">Load More</button>
    </div> -->
  </div>
</div>
