@import "../../style/color.scss";

#home-page {
  margin: 0 auto 30px auto;
  max-width: 790px;

  .total-comments {
    font: normal 14px sans-serif;
    padding: 10px 0;
    margin: 35px 0 10px 0;
  }

  h2 {
    font: normal 20px sans-serif;
    text-align: center;
    margin-top: 20px;
  }

  .cartoon {
    margin: 155px auto 0 auto;
    display: grid;
    grid-template-columns: 40px auto 40px;
    max-width: 710px;
    grid-column-gap: 15px;

    .arrow-left,
    .arrow-right {
      width: 40px;
      display: flex;
      cursor: pointer;

      div {
        margin: auto;
        width: 30px;
        overflow-x: hidden;

        span {
          font-size: 40px;
          display: block;
          transition: transform 0.25s;
          color: $midnight;
        }
      }
    }

    .arrow-right {
      div {
        span {
          transform: translateX(-9px);
        }
      }
    }

    .arrow-left:hover {
      div {
        span {
          transform: scale(0.8);
        }
      }
    }

    .arrow-right:hover {
      div {
        span {
          transform: translateX(-9px) scale(0.8);
        }
      }
    }

    .arrow-buttons {
      display: flex;
      max-width: 710px;
      margin: 15px auto 0 auto;
      grid-column-gap: 10px;
      justify-content: center;

      button {
        padding: 7px 0;
        width: 100%;
      }
    }

    .main-image {
      max-width: 710px;
      width: 100%;
      background-color: transparent;
      border: 1px solid $midnight;
      border-radius: 6px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  input.ng-invalid.ng-touched {
    background-color: $warningRed;
  }

  input.ng-invalid.ng-touched::placeholder {
    color: $white;
  }

  small {
    color: $warningRed;
  }

  .user-input {
    margin-top: 50px;
    .caption-details {
      display: grid;
      grid-template-columns: auto 200px;
    }

    form {
      label {
        font: normal 13px sans-serif;
        display: block;
        margin-bottom: 3px;
      }
      input {
        padding: 5px;
        font-size: 14px;
        border: 1px solid $midnight;
        border-radius: 3px;
        width: calc(100% - 12px);
        outline: none;
      }

      .caption {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      .email-first-last {
        display: grid;
        grid-column-gap: 10px;
        div:nth-child(1) {
          grid-area: email;
        }
        div:nth-child(2) {
          grid-area: fName;
        }
        div:nth-child(3) {
          grid-area: lName;
        }
      }

      .email-first-last {
        grid-template-columns: repeat(2, calc(50% - 5px));
        grid-template-areas:
          "email email"
          "fName lName";
        grid-row-gap: 10px;
        margin-bottom: 10px;
        input:first-child {
          grid-column: 1/-1;
        }
      }

      .city-state-submit {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: repeat(2, calc(30% - 15px)) auto;

        .submit-caption {
          position: relative;
          button {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            padding: 5px 15px;
          }
        }

        .submit-caption {
          text-align: right;
          margin-top: 12px;

          button {
            outline: none;
            font-weight: 600;
            border-radius: 3px;
            border: 1px solid $midnight;
            cursor: pointer;
            transition: all 0.25s;
          }
        }
      }
      .required-fields-error {
        font: 600 12px sans-serif;
        margin-top: 10px;
        font-style: italic;
      }
    }
  }

  .form-active-btn-hover {
    color: $white;
    background-color: $midnight;
  }

  .published-content {
    font: normal 14px sans-serif;
    margin: 0 auto 0 auto;
    max-height: 55vh;
    overflow: auto;

    .repeating-block {
      position: relative;
      border-radius: 5px;
      padding: 15px 20px;

      .submission {
        > p {
          font-style: italic;
          max-width: 375px;
          line-height: 20px;
        }

        .full-name,
        .location {
          display: flex;
          grid-column-gap: 5px;
          margin: 5px 0;
        }
      }
      .votes {
        display: grid;
        grid-template-columns: 30px 50px 30px;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        .vote-up,
        .vote-down {
          background-color: $midnight;
          color: $white;
          cursor: pointer;
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          span {
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% - 2px));
          }
        }
        .vote-total {
          display: flex;
          span {
            margin: auto;
            font-size: 20px;
          }
        }
      }
    }
    .repeating-block:not(:last-child) {
      margin-bottom: 10px;
    }
    .repeating-block:nth-child(odd) {
      background-color: $white;
    }
    .load-more-captions {
      text-align: center;
      button {
        font: normal 14px sans-serif;
        background-color: $midnight;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        outline: none;
        border: none;
        color: $fog;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #home-page {
    .user-input,
    .total-comments,
    .published-content {
      padding: 0 20px;

      form {
        .city-state-submit {
          grid-template-columns: repeat(2, calc(25% - 7px)) auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #home-page {
    margin-top: 70px;

    .cartoon {
      display: block;
      padding: 0 20px;
      margin: 30px 0;
      max-width: unset;

      .main-image {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .user-input {
      form {
        .city-state-submit {
          input:first-child {
            margin-right: 10px;
            display: inline-block;
          }
          .submit-caption {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #home-page {
    .user-input {
      form {
        .email-first-last {
          display: block;
          margin: 0;

          input {
            width: calc(100% - 12px);
          }

          > div {
            margin-bottom: 15px;
          }
        }
        .caption {
          margin-bottom: 15px;
        }
        .city-state-submit {
          grid-template-areas:
            "city state"
            "submit submit";
          grid-template-columns: repeat(2, calc(50% - 5px));
          div:nth-child(1) {
            grid-area: city;
          }
          div:nth-child(2) {
            grid-area: state;
          }
          div:nth-child(3) {
            grid-area: submit;
            margin-top: 20px;
            button {
              position: unset;
            }
          }
        }
      }
    }
  }
}
