@import "../../style/color.scss";

#login {
  height: 100%;
  display: flex;
  > div {
    margin: auto;
    min-width: 275px;
    form {
      > div:first-child {
        margin-bottom: 10px;
      }
      [type="submit"] {
        margin-top: 20px;
      }
    }
    .forgot-password {
      font-weight: normal;
      margin-top: 20px;
    }
  }
}
