<div id="signup">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div *ngIf="userAlreadyRegisteredError" class="validation-error">
      User already registered. Please try again.
    </div>
    <div *ngIf="userRegistered" class="notification">
      Signup successful. Redirecting.
    </div>
    <div *ngIf="currentPage === 'signup'" class="email">
      <label class="form-label">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']" class="validation-error">
          Email is required
        </div>
        <div *ngIf="f['email'].errors['email']" class="validation-error">
          Email must be a valid email address
        </div>
      </div>
    </div>

    <div class="password-wrapper" (capsLock)="capsOn = $event">
      <label class="form-label">Password</label>
      <div class="password-info">
        <input
          [type]="showPassword ? 'text' : 'password'"
          (blur)="onBlurEvent($event)"
          (focus)="onFocusEvent($event)"
          (ngModelChange)="passwordFieldChanged()"
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div
          (click)="togglePasswordInfo()"
          [ngClass]="passwordInfo ? 'show-close' : 'show-info'"
          class="toggle-popup"
        >
          <span>?</span>
        </div>
      </div>
      <label *ngIf="capsOn" class="caps-warning">Caps Locked</label>

      <!-- Form Errors -->
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']" class="validation-error">
          Password is required
        </div>
        <div
          [ngClass]="{
            'text-success': minLengthValid,
            'validation-error': !minLengthValid
          }"
        >
          Must be at least 8 characters long
        </div>

        <!-- requires digit -->
        <div
          [ngClass]="{
            'text-success': requiresDigitValid,
            'validation-error': !requiresDigitValid
          }"
        >
          Must contain at least 1 digit
        </div>

        <!-- requires uppercase -->
        <div
          [ngClass]="{
            'text-success': requiresUppercaseValid,
            'validation-error': !requiresUppercaseValid
          }"
        >
          Must contain at least 1 uppercase character
        </div>

        <!-- requires lowercase -->
        <div
          [ngClass]="{
            'text-success': requiresLowercaseValid,
            'validation-error': !requiresLowercaseValid
          }"
        >
          Must contain at least 1 lowercase character
        </div>

        <!-- requires special characters -->
        <div
          [ngClass]="{
            'text-success': requiresSpecialCharsValid,
            'validation-error': !requiresSpecialCharsValid
          }"
        >
          Must contain at least 1 special character
        </div>
      </div>
    </div>

    <div>
      <label class="form-label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && f['confirmPassword'].errors
        }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="validation-error"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['mustMatch']">
          Passwords must match
        </div>
      </div>
    </div>

    <div *ngIf="!passwordFieldFocus" class="generate-password">
      <div class="optional-text">
        <span></span>
        <span>or</span>
        <span></span>
      </div>
      <button (click)="generateCode()" class="register">
        Generate Password
      </button>
    </div>

    <div class="register-cancel">
      <button class="register">
        {{ currentPage === "signup" ? "Register" : "Update Password" }}
      </button>
    </div>

    <div *ngIf="passwordInfo" class="password-popup">
      <div class="password-directions">
        <span>Password must contain the following:</span>
        <span>&bull;&nbsp;at least 8 characters long</span>
        <span>&bull;&nbsp;one numeric digit</span>
        <span>&bull;&nbsp;one uppercase character</span>
        <span>&bull;&nbsp;one lowercase character</span>
        <span>&bull;&nbsp;one special character</span>
      </div>
      <div (click)="passwordInfo = false" class="close-popup">
        <button type="button">Close</button>
      </div>
    </div>
  </form>
</div>
