@import "../../style/color.scss";

#signup {
  height: 100%;
  display: flex;
  form {
    margin: auto;
    min-width: 275px;
    > div {
      margin-bottom: 10px;
    }
    [type="submit"] {
      margin-top: 20px;
    }
    .register-cancel {
      display: flex;
      grid-column-gap: 15px;
      margin-top: 15px;
    }
  }
}
