<div id="signup">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="email">
      <label class="form-label">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']" class="validation-error">
          Email is required
        </div>
        <div *ngIf="f['email'].errors['email']" class="validation-error">
          Email must be a valid email address
        </div>
      </div>
    </div>

    <div class="password-wrapper" (capsLock)="capsOn = $event">
      <label class="form-label">Password</label>
      <input
        [type]="showPassword ? 'text' : 'password'"
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      <div
        class="show-password"
        (click)="togglePassword()"
        [ngClass]="{ 'toggle-visibility': showPassword }"
      >
        <img src="../../../assets/show-password.png" />
      </div>
      <label *ngIf="capsOn" class="caps-warning">Caps Locked</label>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']" class="validation-error">
          Password is required
        </div>
        <div *ngIf="f['password'].errors['minlength']" class="validation-error">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div>
      <label class="form-label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && f['confirmPassword'].errors
        }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="validation-error"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['mustMatch']">
          Passwords must match
        </div>
      </div>
    </div>

    <div class="register-cancel">
      <button class="register">Register</button>
    </div>
  </form>
</div>
