@import "../../style/color";

.profile {
  padding-top: 60px;
  font: normal 14px sans-serif;
  height: calc(100% - 20px);
  overflow: auto;
  padding-bottom: 0;
  box-sizing: border-box;
  .location-message {
    margin-top: 25px;
    font: normal 13px/20px sans-serif;
    .update-page {
      display: grid;
      grid-template-columns: 160px 120px;
      align-items: baseline;
      font-size: inherit;
      margin-top: 20px;
      button {
        font-weight: normal;
      }
    }
  }
  .username {
    > span:first-child {
      font-weight: 600;
    }
    > span:last-child {
      text-transform: capitalize;
    }
  }

  .location {
    margin: 10px 0 15px;
    > span:first-child {
      font-weight: bold;
    }
  }
  .map {
    margin: 10px 0 20px 0;
    border: 1px solid $midnight;
    > div {
      height: 300px;
    }
  }

  .profile-data {
    > div {
      display: grid;
      grid-template-columns: 100px auto;
      grid-column-gap: 10px;

      .image {
        img {
          width: 100%;
          display: block;
          border: 1px solid $midnight;
        }
      }

      .image + div {
        display: grid;
        grid-template-rows: repeat(2, 25px);
        align-items: end;
      }
    }
  }

  .profile-data:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 15px;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    .profile-data {
      grid-template-columns: none;
      grid-template-rows: 100px 60px;
      grid-column-gap: 0;
      .image {
        height: 150px;
        max-width: 140px;
      }
    }

    form {
      .settings {
        .location-wrapper {
          grid-template-columns: none;
          grid-template-rows: auto 15px;
          .vertical-center {
            .show-location {
              margin: 0;
            }
          }
        }
        .location-wrapper:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}
