<div class="double-page-content">
  <div class="editing-nav-bar">
    <div class="nav-wrapper">
      <nav>
        <span
          (click)="tabNavigation('settings')"
          [ngClass]="{ 'active-page': currentTab === 'settings' }"
          >Settings</span
        >
        <span
          (click)="tabNavigation('captions')"
          [ngClass]="{ 'active-page': currentTab === 'captions' }"
          >Captions</span
        >
        <span (click)="changePassword()"> Change Password </span>
      </nav>
    </div>
  </div>

  <div class="profile">
    <div class="username-wrapper" *ngIf="currentTab === 'settings'">
      <div class="username">
        <span>Username: </span>
        <span>{{ username }}</span>
      </div>

      <div class="location" *ngIf="city != ''">
        <span>Location: </span>
        <span>{{ city + ", " + country }}</span>
      </div>

      <div class="map" *ngIf="locationEnabled">
        <div leaflet [leafletOptions]="options"></div>
      </div>
      <div class="location-message" *ngIf="!mapLoaded">
        Your location is
        {{
          locationEnabled
            ? ""
            : " disabled. Enable your location to display it with your captions."
        }}
        <div class="update-page">
          <span>Location already enabled?</span>
          <button
            class="refresh-page"
            type="button"
            tabindex="6"
            (click)="refreshPage()"
          >
            Refresh Page
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'captions'" class="profile-wrapper">
      <div>
        <div class="profile-data" *ngFor="let item of profileData">
          <div *ngIf="profileData.length > 0">
            <div class="image">
              <img src="{{ item.imageUrl }}" />
            </div>
            <div>
              <span class="caption">{{ "caption: " + item.caption }}</span>
              <span class="status">{{ "status: " + item.status }}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="clear-cache" *ngIf="cachedCaptions">
        <span>Approved captions not showing under the cartoon?</span>
        <button
          type="button"
          class="refresh-page"
          (click)="clearCaptionCache()"
        >
          Clear Caption History
        </button>
      </div> -->
    </div>
    <div *ngIf="profileData.length === 0">Please submit a caption.</div>
  </div>
</div>
