@import "../../style/color";

.admin {
  height: 100%;
  display: flex;
  .mock-form {
    margin: auto;
    > div {
      height: 25px;
      width: 200px;
      background-color: $midnight;
      border-radius: 4px;
    }
    > div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

#captions {
  padding: 55px 0 75px 0;
  .repeating-group:not(:last-child) {
    border-bottom: 1px solid $midnight;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .repeating-group {
    .group-layout {
      display: grid;
      grid-template-columns: 200px calc(100% - 200px);
      justify-content: center;
      font: normal 14px/22px sans-serif;
      grid-column-gap: 10px;
      margin: 0 5px;
      .image-url {
        border: 1px solid $midnight;
        cursor: pointer;
        img {
          width: 100%;
          display: block;
        }
      }
      .data-wrapper {
        line-height: 22px;
        .flagged {
          padding-left: 10px;
          color: $warningRed;
        }
        > div {
          padding: 2px 0 2px 5px;
        }
        > div:hover {
          background-color: darkgrey;
          border-radius: 4px;
        }
        .group-grid:not(:last-child) {
          margin-bottom: 10px;
        }
        .approved span:first-child {
          margin-right: 10px;
        }
        .approved {
          margin-bottom: 5px;
        }
        .approved + .group-grid {
          margin-top: 5px;
        }
        .group-grid {
          grid-template-columns: 20px 75px auto 75px 75px;
          grid-column-gap: 10px;
          line-height: 19px;
          display: grid;
          .approve {
            background-color: $editGreen;
            color: $white;
          }
          .edit {
            background-color: $skyBlue;
            color: $midnight;
          }
          .reject {
            background-color: $warningRed;
            color: $white;
          }
          button {
            outline: none;
            border: 1px solid $midnight;
            border-radius: 3px;
            cursor: pointer;
            max-width: 100px;
          }
        }
      }
    }
  }
}

#export {
  height: calc(100% - 75px);
  background-color: $white;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  top: 55px;
  .export-wrapper {
    .export-btn {
      display: grid;
      grid-template-columns: repeat(2, 120px);
      grid-column-gap: 10px;
    }
  }
  .standard-btn {
    width: 120px;
  }
}

@media screen and (max-width: 992px) {
  #export {
    height: calc(100% - 70px);
    top: 40px;
    .export-wrapper {
      .export-btn {
        justify-content: center;
      }
    }
  }
  .double-page-content {
    margin: 0 20px;
    max-width: none;
    .editing-nav-bar {
      .nav-wrapper {
        margin: 0 12px;
        max-width: none;
        nav {
          max-width: 360px;
          justify-content: center;
          left: 0;
          grid-template-columns: repeat(3, calc(33.3% - 6px));
          font-size: 12px;
          margin: 0 auto;
        }
      }
    }
  }
  #captions {
    .repeating-group {
      .group-layout {
        grid-template-columns: calc(100% - 0px);
        grid-row-gap: 15px;
        max-width: 360px;
        margin: 0 auto;
        > div:first-child {
          max-width: 200px;
        }
        .data-wrapper {
          padding: 0;
          > div:hover {
            background-color: transparent;
          }
          .group-grid {
            grid-template-columns: 20px repeat(3, 100px);
            grid-template-areas:
              "number caption caption caption"
              "number approve edit reject";
            grid-row-gap: 5px;
            grid-column-gap: 10px;
            max-width: 330px;

            .approve {
              grid-area: approve;
            }
            .edit {
              grid-area: edit;
            }
            .delete {
              grid-area: delete;
            }
            .item-caption {
              grid-area: caption;
            }
            .item-number {
              grid-area: number;
            }
            button {
              padding: 5px 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .double-page-content {
    .editing-nav-bar {
      top: 57px;
    }
  }
  #captions {
    padding-top: 30px;
  }
}

@media screen and (max-width: 400px) {
  #captions {
    .repeating-group {
      .group-layout {
        .data-wrapper {
          .group-grid {
            grid-template-columns: 20px repeat(3, calc(33.3% - 20px));
            max-width: none;
          }
        }
      }
    }
  }
}
