<div *ngIf="!userInput" class="admin">
  <div class="mock-form">
    <div>
      <input #otp type="text" />
    </div>
    <div>
      <input #email type="text" />
    </div>
    <div>
      <input #passcode type="text" (blur)="onBlurEvent()" />
    </div>
  </div>
</div>

<div *ngIf="userInput" class="double-page-content">
  <div class="editing-nav-bar">
    <div class="nav-wrapper">
      <nav>
        <span
          (click)="tabNavigation('captions')"
          [ngClass]="{ 'active-page': currentTab === 'captions' }"
          >Captions</span
        >
        <span
          (click)="tabNavigation('uploader')"
          [ngClass]="{ 'active-page': currentTab === 'uploader' }"
          >Uploader</span
        >
        <span
          (click)="exportData()"
          [ngClass]="{ 'active-page': currentTab === 'export' }"
          >Export</span
        >
      </nav>
    </div>
  </div>

  <div *ngIf="currentTab === 'captions'" id="captions">
    <div *ngFor="let data of dataArray; let i = index" class="repeating-group">
      <div class="group-layout">
        <div>
          <div class="image-url">
            <img
              src="{{ data.imageUrl }}"
              (click)="navigateToPage(data.itemIndex)"
            />
          </div>
        </div>
        <div class="data-wrapper">
          <div
            *ngFor="let item of data.captions; let j = index"
            [ngClass]="{
              'group-grid': !item.approved && !item.flagged,
              approved: item.approved
            }"
          >
            <span class="item-number">{{ j + 1 + ")" }}</span>
            <button
              type="button"
              class="approve"
              *ngIf="!item.approved && !item.flagged"
              (click)="approveCaption(data, j, i)"
            >
              Approve
            </button>
            <span
              [ngClass]="item.flagged ? 'flagged' : ''"
              class="item-caption"
              >{{ item.caption }}</span
            >
            <button
              type="button"
              *ngIf="!item.approved && !item.flagged"
              (click)="editCaption(j, data, item.caption)"
              class="edit"
            >
              Edit
            </button>
            <button
              type="button"
              *ngIf="!item.approved && !item.flagged"
              class="reject"
              (click)="rejectCaption(data, j, i)"
            >
              Reject
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentTab === 'uploader'" id="image-uploader"></div>
</div>
